/CalculatingPercentageofMarks.class
/Main.class
/TAKINGINPUTFROMUSER.class
/TakingInputandusingconditions.class
/Takinginputusingscannerclass.class
/armstron.class
/bookproblem.class
/check.class
/conditionsstatement.class
/convertingintegertostring.class
/daysaccordingtonumber.class
/electricity.class
/evenorodd.class
/fibonaci.class
/leapyear.class
/lengthofstring.class
/primenumber.class
/productofdigitsinnumber.class
/rockpapersesior.class
/seleniumfirst.class
/string.class
/sumofdigitsofintegers.class
/test.class
/unittest.class
/whileloop.class
